.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    height: 10vh;
    align-items: center;
}

.link {
    color: #fff;
    background-color: black;
    border-radius: 5px;
    border: 1px solid #000;
    text-decoration: none;
    padding: 10px;
}

.ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.active {
    color: #000;
    background-color: #fff;
    transition: all 0.3s;
}
