.product {
    border: 1px solid #000;
    padding: 10px;
    background-color: #c6c6c6;
    border-radius: 10px;
    flex: 0 calc(25% - 15px);
}

.productImageContainer img {
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    background-color: #c6c6c6;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}

.product p {
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
}

.product span {
    font-size: 14px;
    font-weight: 400;
}

.product button {
    float: right;
    width: 95px;
    height: 30px;
    font-weight: 600;
    background-color: #717371;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.product button:hover {
    width: 95px;
    height: 30px;
    font-weight: 600;
    background-color: #282928;
    border: 1px solid #000;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}